apiVersion: v1
kind: Service
metadata:
  name: {{ include "mlops-serving.fullname" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "mlops-serving.labels" . | nindent 4 }}
  {{- if .Values.istio.enabled }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "mlops-serving.selectorLabels" . | nindent 4 }}
